.footer {
  background: linear-gradient(180deg, #0b1220, #070d1a);
  color: #d1d5db;
  padding-top: 60px;
  font-family: Arial, sans-serif;
}

/* Reset all link states in footer */
.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: #ffffff;          
  text-decoration: none;   
}

.footer a:hover {
  color: #3b82f6;          
}


.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3 {
  color: white;
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-col h4 {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-col p,
.footer-col li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  cursor: pointer;
}

.footer-col li:hover {
  color: #3b82f6;
}

/* DIVIDER */
.footer-divider {
  margin: 40px auto 20px;
  height: 1px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.1);
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  font-size: 14px;
  padding-bottom: 25px;
  color: #9ca3af;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
