.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  color: white;
}

.navbar-menu {
  background: #5dbb46;
  padding: 12px 28px;
  border-radius: 32px;
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-menu a.active {
  border-bottom: 2px solid white;
}

.navbar-contact {
  display: flex;
  gap: 20px;
  font-size: 14px;
}