.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;          
  padding: 0 40px;      

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.navbar-menu {
  background: #5dbb46;
  padding: 12px 28px;
  border-radius: 32px;
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-menu a.active {
  border-bottom: 2px solid white;
}

.navbar-contact {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.logo{
  height: 200px;
  width: auto;
}