.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;          
  padding: 0 2px;      

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.navbar-menu {
  background: #5dbb46;
  padding: 12px 28px;
  border-radius: 32px;
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-menu a.active {
  border-bottom: 2px solid white;
}

.navbar-contact {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.logo{
  height: 200px;
  width: auto;
}

/* login and Register button */

.auth-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;        /* 🔑 KEY LINE */
}


.btn {
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.login {
  background: transparent;
  border: 1px solid #4caf50;
  color: #4caf50;
}

.register {
  background: #4caf50;
  color: white;
}
